@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Programacion IV</h1>
    <p>Learn about <a Tony Chen</a>.</p>
    <p> <img src="https://cn.bing.com/images/search?view=detailV2&ccid=z0E4Va1l&id=DCF44E6145C553A1CF44BA2D3791B7C72422024E&thid=OIP.z0E4Va1lK6xYOb6ePvdJ-gHaE5&mediaurl=https%3a%2f%2fpixnio.com%2ffree-images%2f2017%2f05%2f23%2f2017-05-23-16-38-37.jpg&exph=3100&expw=4681&q=gatos&simid=608049017567149356&FORM=IRPRST&ck=CC95474F0EA6A846BD011855F8E84208&selectedIndex=0&qft=+filterui%3alicenseType-Any&ajaxhist=0&ajaxserp=0"</p>
    
</div>
